html, body {
	font-size:12px;
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}
body > div {
	margin: 0 1em;
}
#map {
	height:400px;
	margin: 1.2em 0;
}
.popup {
	text-align: center;
}
.popup img {
	width: 100%;
}
fieldset {
	width: 400px;
	margin: 1em 0;
   text-align:center;
}
fieldset div {
   text-align:left;
}
label {
	display:inline-block;
	width: 75px;
	text-align:left;
}
input[type=button] {
	margin: 0.8em 0;
}
.mdt {
	color:#f00;
}
.update {
	text-align:right;
	float:right;
}
h1 {
	clear: both;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	background-color: #333;
	cursor:pointer;
	display:block;
	float:left;
	width:50%;
	color:#fff;
	font-size: 1.5em;
	text-align:center;
	padding: 1em 0;
	margin: 0 0 1em;
}
li.active {
	font-style:italic;
	font-weight: bold;
}
li:hover {
	background-color: #3f3f3f;
}